* { margin: 0; padding: 0; }
body { font-size: 14px; color: #333; font-family: "Microsoft Yahei"; }
ul, li { list-style-type: none; }
a{cursor: pointer;
  text-decoration:none;}

#addGradess{
  padding: 3px 10px;
  font-size: 14px !important;
  margin-top:5px;
  margin-left: 223px;
  display: inline-block;
  color: #fff;
  border-radius:3px;
  background: #449d44;
}

#tree_conmont{
	width: 600px;
    margin: 30px auto;
    border: 1px solid #449d44;
}

.treeNode {
  height: 32px;
  border: 1px solid #fff;
  border-width: 1px 0;
  cursor: pointer;
  font-size: 0;
}
.treeNode:hover {
  background: #f4f9fd;
  border-color: #e5f0fb;
}
/*.treeNode-cur,
.treeNode-cur:hover {
  background: #e5f0fb;
  border-color: #BBD4EF #fff;
}*/
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-minus {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  background:url(../images/set.png) no-repeat;
}
.icon-add {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  background:url(../images/add.png) no-repeat;
}
.icon-file {
  width: 22px;
  height: 18px;
  margin-right: 5px;
  background-position: 0 -22px;
}
.title {
  position: relative;
  top: 6px;
  font-size: 14px;
}
.treeNode .addList,.updateList,.deleteList{
  padding: 3px 10px;
  font-size: 12px !important;
  margin-top:5px;
  float: right;
  margin-right: 10px;
  display: inline-block;
  color: #fff;
  border-radius:3px;
}
.addList{
  background: #449d44;
}
.updateList{
  background: #5bc0de;
}

.deleteList{
  background: #c9302c;
}
.treeNode-empty .icon-minus {
  background-position: -999px -999px;
}
.treeNode-empty .icon-add {
  background-position: -999px -999px;
}

#tree_conmont>ul ul{
  display: none;
}


/*添加*/
#addList{
  overflow: hidden;
  display: none;
}
.titles{
  width:300px;
  border:1px solid #ccc;
  height: 31px;
  padding: 0 10px;
  font-size: 14px;
}
.lis_btn{
  padding: 7px 10px;
  margin-left: 30px;
  border: 0;
  width: 50px;
  text-align: center;
  background: #449d44;
  font-size: 14px;
  color: #fff;
}
.callBack{
  padding: 7px 10px;
  margin-left: 30px;
  width: 50px;
  text-align: center;
  background: #449d44;
  font-size: 14px;
  color: #fff;
  display: inline-block;
}

