
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/index/css/steps.css">
    <script type="text/javascript" src="__STATIC__/index/index/js/steps.js"></script>
	 <div class="reg_cont">
        <div class="reg_zoncon">
             <div class="reg_jidu"></div>
             <div class="regsuccess_ioc"></div>
             <p style="width: 180px;">恭喜，您已注册成功</p>
             <p style="width: 221px;">欢迎来到和合教育云平台</p>
             <div class="regsuu_ti">
                 <span class="regsucc_ioc" style="margin-top: 3px;"></span>
                 <span style="font-size: 12px;">完善个人信息可开启和合教育云平台所有功能，</span>
                 <a href="__ROOT__/index/teacher/flogininfo" style="color:#FC7568;font-size: 12px;">马上去完善</a>
             </div>
        </div>
     </div>
</body>
</html>